<!-- Criado na aula Criando Página de Login de Usuário -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>

    <!-- Recuperando o nome o usuário assim que ele loga -->
    <h1>Intermediário
        {% if request.user.is_authenticated %}
            - olá {{ request.user.first_name }}
        {% endif %}
    </h1>

    {% block content %}

    {% endblock %}

</body>
</html>